@font-face {
  font-family: Azonix;
  src: url('./assets/fonts/Azonix.otf');
}

body {
  margin: 0;
  font-family: Azonix, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/background.png');
  background-size: cover;
  overflow: auto;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
